<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DOCUSIGN_ENVIRONMENT" value="demo" />
    <add key="DOCUSIGN_USERNAME" value="tony.mann@docusign.com" />
    <add key="DOCUSIGN_PASSWORD" value="LoveKangaBlue!1" />
    <add key="DOCUSIGN_IK" value="d1af8221-b1d0-4dea-8834-a24e2ff8cc75" />
    <add key="EMPLOYEE_EMAIL" value="tony.mann@docusign.com" />
    <add key="EMPLOYEE_NAME" value="Internal LoanCo Account" />
    <add key="LOCAL_RETURN_URL" value="http://localhost:3801/" />
    <add key="BRAND_ID" value="f157069c-3828-4073-a298-0bf5749b27bb" />
    <add key="GOOGLE_MAPS_API_KEY" value="AIzaSyCNDfwC_9HvIOszRnJH9fQgbJLMDPmwvx4" />
    <add key="GOOGLE_ANALYTICS" value="UA-39550292-1" />
    <add key="DEFAULT_EMAIL" value="tony.mann@docusign.com" />
    <add key="FORCE_HTTPS" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>